copy-on-select = clipboard
font-feature = -calt
font-feature = -liga
font-feature = -dlig
shell-integration = detect
scrollback-limit = 100000000
theme = Citruszestcustom

# keybinds
keybind = "{{ ghostty_ctrl_key }}+shift+n=new_window"
keybind = "{{ ghostty_ctrl_key }}+shift+t=new_tab"
keybind = "{{ ghostty_ctrl_key }}+d=text:\x04"
keybind = "{{ ghostty_ctrl_key }}+n=text:\x0e"
keybind = "{{ ghostty_ctrl_key }}+p=text:\x10"
keybind = "{{ ghostty_ctrl_key }}+u=text:\x15"
keybind = "{{ ghostty_ctrl_key }}+v=text:\x16"
keybind = "{{ ghostty_ctrl_key }}+shift+v=paste_from_clipboard"
keybind = "{{ ghostty_super_key }}+d=new_split:right"
keybind = "{{ ghostty_super_key }}+w=close_surface"
